
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Ovo&display=swap');
.outfit {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}
.ovo{
    font-family: "Ovo", serif;
    font-weight: 400;
    font-style: normal;
}
  
  